* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans;
  background-color: #fcfcfc;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.clearfixbefore,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfixafter {
  clear: both;
}
.btn-cap {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000;
  color: #fcfcfc;
  background: #292929;
/* box-shadow inset 0 0 3px #fff */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-cap:hover {
  background: #000;
  color: #fff;
}
.people {
  padding: 20px 0;
  display: table;
}
.people-avatar {
  width: 40px;
  display: table-cell;
}
.people-avatar img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.people-desc {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  line-height: 20px;
}
.people-name {
  font-size: 15px;
  color: #222;
}
.people-title {
  font-size: 13px;
  color: #999;
}
.cap {
  display: table;
  padding: 20px 0 0 40px;
}
.cap-item {
  display: table-cell;
  width: 50px;
  height: 50px;
}
.cap-item img {
  width: 50px;
  height: 50px;
}
.cap-reason {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
.give-a-cap {
  border: 1px solid;
}
.give-people {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 20px;
}
.give-people-item {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  border: 4px solid transparent;
}
.give-people-item:hover {
  border: 4px outset #2cc5e2;
}
.give-people-item:active,
.give-people-item.__active {
  border: 4px outset #1caeca;
}
.give-people-item-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.give-people-item {
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}
.give-people-item:hover,
.give-people-item:active,
.give-people-item.__active {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
}
.give-cap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 20px;
}
.give-cap-item {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  border: 4px solid transparent;
}
.give-cap-item:hover {
  border: 4px outset #2cc5e2;
}
.give-cap-item:active,
.give-cap-item.__active {
  border: 4px outset #1caeca;
}
.give-cap-item-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.give-reason {
  padding: 20px;
}
.give-reason textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  background: inherit;
}
