/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark

Stylus-ized by 
dale tan
http://www.whatthedale.com
@HellaTan

*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.clearfixbefore,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfixafter {
  clear: both;
}
body {
  background-color: #fcfcfc;
  font-family: 'Noto Sans', sans-serif;
}
.container {
  width: 700px;
  margin: 0 auto;
}
.header {
  background: #292929;
  color: #fcfcfc;
  text-align: center;
  padding: 40px;
  margin-bottom: 40px;
}
.header-title {
  margin: 40px 0;
  font-size: 64px;
  font-family: 'Julius Sans One', sans-serif;
}
.header-description {
  font-size: 32px;
}
.btn-cap {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000;
  color: #fcfcfc;
  background: #292929;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-cap:hover {
  background: #000;
  color: #fff;
}
.btn-cap.__sec {
  margin-bottom: 15px;
}
.page-people .people {
  padding: 30px 0 10px 0;
  display: table;
}
.page-people .people-avatar {
  width: 40px;
  display: table-cell;
}
.page-people .people-avatar img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.page-people .people-desc {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  line-height: 20px;
}
.page-people .people-name {
  font-size: 15px;
  color: #222;
}
.page-people .people-title {
  font-size: 13px;
  color: #999;
}
.page-people .cap {
  display: table;
  padding: 5px 0 5px 40px;
}
.page-people .cap-item {
  display: table-cell;
  width: 50px;
  height: 50px;
}
.page-people .cap-item img {
  width: 50px;
  height: 50px;
}
.page-people .cap-reason {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
.page-manage .cap-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.page-manage .cap {
  width: 20%;
  padding: 20px;
}
.page-manage .cap-item {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  border: 4px solid transparent;
}
.page-manage .cap-item:hover {
  border: 4px outset #2cc5e2;
}
.page-manage .cap-item:hover .cap-item-ctrl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.page-manage .cap-item:hover ~ .cap-name {
  color: #000;
}
.page-manage .cap-item:active,
.page-manage .cap-item.__active {
  border: 4px outset #1caeca;
}
.page-manage .cap-item-img {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-manage .cap-item-ctrl {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255,255,255,0.8);
  color: #2cc5e2;
  cursor: pointer;
}
.page-manage .cap-item-ctrl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  padding: 5px;
}
.page-manage .cap-item-ctrl-item:hover {
  color: #f00;
}
.page-manage .cap-name {
  padding-top: 5px;
  text-align: center;
  cursor: default;
}
.page-people .give-a-cap {
  border: 1px solid;
}
.page-people .give-people {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 20px;
}
.page-people .give-people-item {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  border: 4px solid transparent;
}
.page-people .give-people-item:hover {
  border: 4px outset #2cc5e2;
}
.page-people .give-people-item:active,
.page-people .give-people-item.__active {
  border: 4px outset #1caeca;
}
.page-people .give-people-item-img {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-people .give-people-item {
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}
.page-people .give-people-item:hover,
.page-people .give-people-item:active,
.page-people .give-people-item.__active {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
}
.page-people .give-cap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 20px;
  max-height: 300px;
  overflow: auto;
  background: -webkit-linear-gradient(#fcfcfc 30%, #fcfcfc), -webkit-linear-gradient(#fcfcfc, #fcfcfc 70%) 0 100%, -webkit-linear-gradient(#1d1d1d 2%, rgba(252,252,252,0) 3%, rgba(252,252,252,0) 97%, #1d1d1d 98%);
  background: linear-gradient(#fcfcfc 30%, #fcfcfc), linear-gradient(#fcfcfc, #fcfcfc 70%) 0 100%, linear-gradient(#1d1d1d 2%, rgba(252,252,252,0) 3%, rgba(252,252,252,0) 97%, #1d1d1d 98%);
  background-size: 100% 25px, 100% 25px, 100% 100%;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll;
}
.page-people .give-cap-item {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  border: 4px solid transparent;
}
.page-people .give-cap-item:hover {
  border: 4px outset #2cc5e2;
}
.page-people .give-cap-item:active,
.page-people .give-cap-item.__active {
  border: 4px outset #1caeca;
}
.page-people .give-cap-item-img {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-people .give-reason {
  padding: 20px;
}
.page-people .give-reason-header,
.page-people .give-reason textarea {
  width: 60%;
  margin: 0 20%;
}
.page-people .give-reason textarea {
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  background: inherit;
}
