.btn-cap {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000;
  color: #fcfcfc;
  background: #292929;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-cap:hover {
  background: #000;
  color: #fff;
}
.btn-cap.__sec {
  margin-bottom: 15px;
}
.page-people .people {
  padding: 30px 0 10px 0;
  display: table;
}
.page-people .people-avatar {
  width: 40px;
  display: table-cell;
}
.page-people .people-avatar img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.page-people .people-desc {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  line-height: 20px;
}
.page-people .people-name {
  font-size: 15px;
  color: #222;
}
.page-people .people-title {
  font-size: 13px;
  color: #999;
}
.page-people .cap {
  display: table;
  padding: 5px 0 5px 40px;
}
.page-people .cap-item {
  display: table-cell;
  width: 50px;
  height: 50px;
}
.page-people .cap-item img {
  width: 50px;
  height: 50px;
}
.page-people .cap-reason {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
