* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans;
  background-color: #fcfcfc;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.clearfixbefore,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfixafter {
  clear: both;
}
.btn-cap {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000;
  color: #fcfcfc;
  background: #292929;
/* box-shadow inset 0 0 3px #fff */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-cap:hover {
  background: #000;
  color: #fff;
}
.people {
  padding: 20px 0;
  display: table;
}
.people-avatar {
  width: 40px;
  display: table-cell;
}
.people-avatar img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.people-desc {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  line-height: 20px;
}
.people-name {
  font-size: 15px;
  color: #222;
}
.people-title {
  font-size: 13px;
  color: #999;
}
.cap {
  display: table;
  padding: 20px 0 0 40px;
}
.cap-item {
  display: table-cell;
  width: 150px;
  height: 150px;
}
.cap-item img {
  width: 150px;
  height: 150px;
}
.cap-reason {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
