<!doctype html>
<html lang="en" ng-app="capsApp">
<head>
  <meta charset="utf-8">
  <title>Caps project</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="css/index.css"></link>
  
</head>

<body ng-controller="MainCtrl">
  <div class="container">
    <div class="clearfix" ng-repeat="one in people">
      <div class="people">
        <div class="people-avatar">
          <img ng-src="{{one.photo}}" alt="" />
        </div>
        <div class="people-desc">
          <div class="people-name">
            {{one.name}}
          </div>
          <div class="people-title">
            {{one.title}}
          </div>
        </div>
      </div>
      <div class="caps" ng-repeat="cap in one.caps">
          <div class="cap">
            <img ng-src="{{caps[cap].img}}" alt="{{caps[cap].name" />
          </div>
      </div>
    </div>
  </div>
</body>
</html>
