<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Caps project</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="css/index.css"></link>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Josefin+Sans:400,600,700|Julius+Sans+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  
</head>

<body ng-controller="MainCtrl">
  <div class="header">
    <div class="header-links">
    </div>
    <div class="header-title">
      Get Cap
    </div>
    <div class="header-description">
      Team members reward system
    </div>
  </div>
  <div class="container">
    <div class="btn-cap"
      ng-click="showForm()"
      ng-show="!formShown"
      >
      Give a Cap
    </div>
    <div class="give-a-cap clearfix" ng-show="formShown">
      <div class="give-people">
        <div class="give-people-item"
          ng-repeat="one in people"
          ng-class="{__active: $index == give.peopleId}"
          ng-click="setFormItem({peopleId: $index})"
          >
          <img class="give-people-item-img" ng-src="{{one.photo}}" alt="{{one.name}}">
        </div>
      </div>
      <div class="give-cap">
        <div class="give-cap-item"
          ng-class="{__active: $index == give.capId}"
          ng-click="setFormItem({capId: $index})"
          ng-repeat="cap in caps"
          >
          <img class="give-cap-item-img" ng-src="{{caps[cap.id].img}}" alt="{{caps[cap.id].name" />
        </div>
      </div>
      <div class="give-reason">
        <div class="give-reason-header">Reason</div>
        <textarea
          ng-model="give.reason"
          name="reason"
          rows="3"
          ng-attr-placeholder="{{give.placeholder}}"
          ></textarea>
      </div>
      <div class="give-submit">
        <div class="btn-cap give-submit-btn"
          ng-click="giveCap()"
          >
          Give
        </div>
      </div>
    </div>

    <div class="clearfix" ng-repeat="one in people">
      <div class="people">
        <div class="people-avatar">
          <img ng-src="{{one.photo}}" alt="" />
        </div>
        <div class="people-desc">
          <div class="people-name">
            {{one.name}}
          </div>
          <div class="people-title">
            {{one.title}}
          </div>
        </div>
      </div>
      <div class="cap" ng-repeat="cap in one.caps | reverse">
          <div class="cap-item">
            <img ng-src="{{caps[cap.id].img}}" alt="{{caps[cap.id].name" />
          </div>
          <div class="cap-reason">
            {{cap.reason}}
          </div>
      </div>
    </div>
  </div>
</body>
</html>
