<!doctype html>
<html lang="en" ng-app="capsApp">
<head>
  <meta charset="utf-8">
  <title>Caps project</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="css/index.css"></link>
  
</head>

<body ng-controller="MainCtrl">
  <div class="container">
    <div class="btn-cap" ng-click="showGive()">Give a Cap</div>
    <div class="give-a-cap clearfix" ng-show="giveShown">
      <div class="give-people">
        <div class="give-people-item"
          ng-repeat="one in people"
          ng-class="{__active: $index == give.peopleId}"
          ng-click="setGiveItem({peopleId: $index})"
          >
          <img class="give-people-item-img" ng-src="{{one.photo}}" alt="{{one.name}}">
        </div>
      </div>
      <div class="give-cap">
        <div class="give-cap-item"
          ng-class="{__active: $index == give.capId}"
          ng-click="setGiveItem({capId: $index})"
          ng-repeat="cap in caps"
          >
          <img class="give-cap-item-img" ng-src="{{caps[cap.id].img}}" alt="{{caps[cap.id].name" />
        </div>
      </div>
      <div class="give-reason">
        <div class="give-reason-header">Reason</div>
        <textarea
          ng-model="give.reason"
          name="reason"
          rows="3"
          placeholder="This cap is given to .."
          ></textarea>
      </div>
      <div class="give-submit">
        <div class="btn-cap give-submit-btn"
          ng-click="giveCap()"
          >
          Give
        </div>
      </div>
    </div>

    <div class="clearfix" ng-repeat="one in people">
      <div class="people">
        <div class="people-avatar">
          <img ng-src="{{one.photo}}" alt="" />
        </div>
        <div class="people-desc">
          <div class="people-name">
            {{one.name}}
          </div>
          <div class="people-title">
            {{one.title}}
          </div>
        </div>
      </div>
      <div class="cap" ng-repeat="cap in one.caps | reverse">
          <div class="cap-item">
            <img ng-src="{{caps[cap.id].img}}" alt="{{caps[cap.id].name" />
          </div>
          <div class="cap-reason">
            {{cap.reason}}
          </div>
      </div>
    </div>
  </div>
</body>
</html>
