<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Caps project</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <link rel="stylesheet" href="css/index.css"></link>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Josefin+Sans:400,600,700|Julius+Sans+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  
</head>

<body ng-controller="ManageCtrl">
  <div class="header">
    <div class="header-links">
    </div>
    <div class="header-title">
      Get Cap
    </div>
    <div class="header-description">
      Team members reward system
    </div>
  </div>
  <div class="container">

    <div class="btn-cap"
      ng-click="showForm()"
      ng-show="!formShown"
      >
      Add a Cap
    </div>
    <div class="give-a-cap clearfix" ng-show="formShown">
      <form name="capForm" ng-submit="submitCap(capForm.$valid)" novalidate>
        <div>
            <label>Name</label>
            <input type="text" name="name" ng-model="cap.name" required>
        </div>

        <div>
            <label>Front Image</label>
            <input type="file"
              file-input="cap.frontImg"
            />
        </div>
        <div>
            <label>Back Image</label>
            <input type="file"
              file-input="cap.backImg"
            />
        </div>
        
        <button type="submit">Submit</button>
      </form>
    </div>

    <div class="cap" ng-repeat="cap in caps | reverse">
        <div class="cap-item">
          {{cap.name}}
          <img ng-src="{{cap.frontImg}}" alt="{{cap.name}}" />
        </div>
    </div>
  </div>
</body>
</html>
