.page-people
  .give-a-cap
    border 1px solid

  item(w)
    display flex
    flex-flow row wrap
    padding 20px

    &-item
      width w
      height w
      margin auto
      border-radius 50%
      border 4px solid transparent
      c=#2cc5e2
      &:hover
        border 4px outset c
      &:active, &.__active
        border 4px outset darken(c, 15%)

      &-img
        border 1px solid #fff
        width 100%
        height 100%
        border-radius 50%

  .give
    &-people
      item(120px)
      &-item
        opacity .85
        &:hover, &:active, &.__active
          opacity 1
    &-cap
      item(120px)
      max-height 300px
      overflow auto
      background linear-gradient(#fcfcfc 30%, #fcfcfc),
        linear-gradient(#fcfcfc, #fcfcfc 70%) 0 100%,
        linear-gradient(#1d1d1d 2%, rgba(#fcfcfc, 0) 3%, rgba(#fcfcfc, 0) 97%, #1d1d1d 98%)
      background-size 100% 25px, 100% 25px, 100% 100%
      background-repeat no-repeat
    
      background-attachment local, local, scroll

    &-reason
      padding 20px
      &-header, textarea
        width 60%
        margin 0 20%
      textarea
        border none
        resize none
        outline none
        font-size 16px
        background inherit
