body
  background-color #fcfcfc
  font-family 'Noto Sans', sans-serif
  
.container
  width 650px
  margin 0 auto

.header
  background rgb(41, 41, 41)
  color rgba(252, 252, 252, 1)
  text-align center
  padding 40px
  margin-bottom 40px

  &-title
    margin 40px 0
    font-size 64px
    font-family 'Julius Sans One', sans-serif

  &-description
    font-size 32px
    
