btn()
  display inline-block
  padding 10px 20px
  border 1px solid black
  color rgba(252, 252, 252, 1)
  background rgb(41, 41, 41)
  //text-shadow 0 1px 0px rgba(255, 255, 255, 0.57)
  cursor pointer
  user-select none
  &:hover
    background: #000
    color #fff

.btn-cap
  btn()
  
.page-people  
  .people
    padding 20px 0
    display table

    &-avatar
      w = 40px
      width w
      display table-cell
      img
        border-radius w * 0.5
        width w
        height w

    &-desc
      display table-cell
      vertical-align top
      padding-left 10px
      line-height 20px

    &-name
      font-size 15px
      color #222
    &-title
      font-size 13px
      color #999


  .cap
    display table
    padding 20px 0 0 40px
    &-item
      display table-cell
      w = 50px
      width w
      height w
      img
        width w
        height w
    &-reason
      display table-cell
      vertical-align middle
      padding-left 20px
